{% extends 'Muelitas/basePrincipal.html' %}

{% load static %}
{% block contenedor %}

<div class="py-5 photo-overlay section-parallax">
   <div class="container p-3">


      <form action="{% url 'Muelitas:CrearHistorial' %}" method="POST">
         {% csrf_token %}
         <h4 class="mb-2 text-center">crear historia clinica</h4>
         <div class="row">
            <div class="col-sm-8"> <label>Documento</label>
               {{form.Documento}}
            </div>

            <div class=" col-sm-4"> <label>Nombre</label>
               {{form.Nombre}}
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-sm-4"> <label>sexo</label>
               {{form.sexo}}
            </div>


            <div class="col-4"> <label>RH</label>
               {{form.RH}}
            </div>

            <div class="col-4"> <label>estado Civil</label>
               {{form.estadoCivil}}
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-5"> <label>lugar Nacimiento</label>
               {{form.lugarNacimiento}}
            </div>

            <div class="col-5"> <label>fecha Nacimiento</label>
               {{form.fechaNacimiento}}
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-6"> <label>ocupacion</label>
               {{form.ocupacion}}
            </div>
            <div class="col-4"> <label>telefono</label>
               {{form.telefono}}
            </div>
         </div>
         <div class="mt-4">
         <div class="col"> <label>motivoConsulta</label>
            {{form.motivoConsulta}}
         </div>
         </div>
         <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">guardar historia</button>
         
      </form>
   </div>
</div>
</div>
</div>

{% endblock %}