

{% block contenedor %}
<style>
    @page {
        size: letter portrait;
        margin: 3cm;


        @frame header_frame {
            /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 40pt;
        }

        @frame content_frame {
            /* Content Frame */
            left: 50pt;
            width: 512pt;
            top: 90pt;
            height: 632pt;
        }

        @frame footer_frame {
            /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt;
            width: 512pt;
            top: 772pt;
            height: 20pt;
        }

        @frame content_frame {
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 692pt;
            -pdf-frame-border: 1;
            /* for debugging the layout */
        }
    }

    table {
        border-collapse: collapse;
    }

    th {
        text-align: center;
        border: 1px solid black;
    }

    table, td {
        border: 1px solid black;
        text-align: left;
        padding: 5px;
    }
</style>

<!-- Content for Static Frame 'header_frame' -->
<div id="header_content">As dental-Muelitas</div>

<!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">Reporte-historial clinico - Paginas: <pdf:pagenumber>
        of <pdf:pagecount>
</div>

<!-- HTML Content -->
<h1>primer PDF</h1>

<table>
    <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                     <th>sexo</th>
                    <th>RH</th>
                    <th>fecha  de Nacimiento</th>
                    <th>lugar  de Nacimiento</th>
                    <th>telefono</th>
                    <th>motivo de la Consulta</th>

    </tr>
    <tbody>

        {% for Agenda in history %}
        <tr>
                    <td>{{ Agenda.Documento }}</td>
                    <td>{{ Agenda.Nombre }}</td>
                    <td>{{Agenda.get_sexo_display}}</td>
                     <td>{{Agenda.get_RH_display}}</td>
                    <td>{{ Agenda.fechaNacimiento }}</td>
                    <td>{{ Agenda.lugarNacimiento }}</td>
                    <td>{{ Agenda.telefono }}</td>
                    <td>{{ Agenda.motivoConsulta }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}