{% extends 'Muelitas/base_landingpage.html' %}

{% load staticfiles %}

{% block contenedor %}

      <!-- quienes somos -->

      <br> <br> <br> <br> <br>
 <center>
 <div class="page-title">
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<h2 class="block-title">Quienes somos</h2>
            <table border="0px" width =" 800px">
                  <tr>
                    <td> <img src="{% static 'img/odontologia/SmilingWoman2.png' %}"sizes="(max-width: 936px) 100vw, 936px" width="500px" height="150px">
                     </td>
                    <td  class="text-center"> <p><span style="font-size: 13pt;"><strong>ASdental</strong> es una empresa con años de experiencia garantizando la salud bucal de las personas. Su prioridad es mejorar <strong>la calidad de vida de sus pacientes</strong>, devolviéndole la seguridad de lucir una sonrisa cuidada y&nbsp; de realizar acciones cotidianas simples con total tranquilidad.</span></p>
                    </td>
                  </tr>
            </table>
                <br>
                <br>
                <br>
                <table width =" 900px">
                  <tr>
                    <td class="text-center"> <img class="vc_single_image-img " src="{% static 'img/odontologia/sonrisa.jpg' %}" alt="dental-implant-icon" title="dental-implant-icon" width="250" height="150">
                    </td>

                    <td class="text-center"> <img class="vc_single_image-img " src="{% static 'img/odontologia/bracketsinvisibles.jpg' %}" alt="dental" title="dental" width="250" height="150">
                    </td>
                  <tr>
                      <td > <p>
                        Será atendido por profesionales de primer nivel en todas las especialidades, que podrán determinar el mejor diagnóstico y plan de tratamiento para cada caso.<br><br>
                        Odontología Lautaro se destaca por brindarle al paciente el tiempo necesario para su tratamiento, garantizando su satisfacción absoluta.<br>
                        </p>
                      </td>
                      <td class="text-center"> <p>

                        El contar <b>con laboratorio propio</b> reduce considerablemente los tiempos de espera y le permite elegir con el especialista la mejor opción para usted.<br><br>

                        Se atienden diferentes pre-pagas, obras sociales y encontrará facilidades de pago, para que su única preocupación sea mejorar su salud bucal.<br>
                        </p>
                      </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
  </div>


<!--citas-->

  {% endblock%}