{% extends 'Muelitas/base_landingpage.html' %}

{% load staticfiles %}



{% block contenedor %}


<br> <br> <br>
    <!-- servicios -->
<section class="py-2 text-xs-center">
        <div class="py-5 text-center bg-whithe" id="menu">
          <div class="container bg-whithe">
                <h1>Tratamientos<br><br><br></h1>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="vc_single_image-img " src="{% static 'img/odontologia/basicos.png' %}" alt="dental" title="dental" width="150" height="150">
                      <hr/>
                      <h2 class="text-center">Tratamientos basicos</h2>
                      <h5 class="text-justify"> <strong>1.</strong> el control preventivo de placa bacteriana, la aplicación de flúor y sellantes.<br>
                      <strong>2.</strong> El plan de beneficios también cubre procedimientos como calzas, tratamientos de conductos, cirugía oral y maxilofacial.<br>
                      <strong>3.</strong> Para afiliados que coticen con nosotros podemos, garantizar las prótesis dentales.
                      </h5>
                    </div>

                    <div class="col-lg-4">
                       <img class="vc_single_image-img " src="{% static 'img/odontologia/blanqueamento.png' %}" alt="dental" title="dental" width="150" height="150">
                       <hr/>
                       <h2 class="text-center">blanqueamento dental</h2>
                       <h5 class="text-justify">El blanqueamiento dental profesional reduce o elimina las manchas y la decoloración dental que nuestros dientes sufren con los años. Con una sola sesión en nuestra clínica dental, se consiguen unas mejoras notables, que pueden mejorarse todavía más siguiendo el blanqueamiento en casa supervisado por tu dentista de Propdental.
                       </h5>
                    </div>

                    <div class="col-lg-4">
                       <img class="vc_single_image-img " src="{% static 'img/odontologia/carillas.png' %}" alt="dental" title="dental" width="150" height="150">
                       <hr/>
                       <h2 class="text-center">carillas de porcelana</h2>
                        <h5 class="text-justify">Son unas finas cáscaras de porcelana que imitan la parte frontal del diente y que se pegan a la superficie delantera. As carillas permiten cambiar el color, el tamaño y la forma de los dientes para conseguir una sonrisa más estética y bonita. Dependiendo de su grosor, es necesario o no reducir una parte del esmalte para conseguir una perfecta fijación y un mejor resultado estético.
                        </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="py-2 text-xs-center">
  <div class="py-5 text-center bg-whithe" id="menu">
    <div class="container bg-whithe">
          <div class="row">
              <div class="col-lg-4">
                  <img class="vc_single_image-img " src="{% static 'img/odontologia/brackets.png' %}" alt="dental" title="dental" width="150" height="150">
                <hr/>
                <h2 class="text-center">Ortodoncia convencional</h2>
                <h5 class="text-justify"> <strong>– Brackets metálicos: </strong>son fijos y si bien hay opciones más estéticas, son los más económicos y se logra excelentes resultados con ellos.

                  <strong>– Brackets de porcelana: </strong>el método de colocación es el  mismo que con el anterior, pero son más recomendables por la estética que brindan.
                </h5>
              </div>
              <div class="col-lg-4">
                 <img class="vc_single_image-img " src="{% static 'img/odontologia/blanqueamento.png' %}" alt="dental" title="dental" width="150" height="150">
                 <hr/>
                 <h2 class="text-center">implantes dentales</h2>
                 <h5 class="text-justify">Un implante dental por lo general, es una pieza de titanio que se inserta en el hueso maxilar, es decir, debajo de la encía. Su función principal es simular o sustituir la raíz de un diente que ha sufrido algún daño y que posteriormente fue extraído.

                 Dentro de sus ventajas podemos decir que la colocación de implantes no es dolorosa como suponen muchos pacientes, porque utilizamos anestesia y una medicación previa para que el pos operatorio sea placentero y benigno (sano).
                 </h5>
              </div>

              <div class="col-lg-4">
                 <img class="vc_single_image-img " src="{% static 'img/odontologia/endodoncia.png' %}" alt="dental" title="dental" width="150" height="150">
                 <hr/>
                 <h2 class="text-center">endodoncia</h2>
                  <h5 class="text-justify">Se recomienda un tratamiento de conductos si usted presenta una infección que afecta el nervio en la raíz de un diente y que puede ser el resultado de ruptura, caries o lesión en el mismo. Este tipo de tratamiento puede salvar la pieza dentaria, de lo contrario debería ser extraída debido al daño sufrido.
                  </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}

