{% extends 'Muelitas/basePrincipal.html' %}

{% block contenedor %}


<br> <br> <br>
<div class="container my-5">
    <h1>Lista de multas</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Fecha de la Multa</th>
                    <th>Valor de la Multa</th>
                    <th>Estado de la multa</th>
                </tr>
            </thead>
            {% if Multa %}
            {% for Agenda in Multa %}
            <tbody>
                <tr>
                    <td>{{ Agenda.Documento }}</td>
                    <td>{{ Agenda.Nombre }}</td>
                    <td>{{ Agenda.FechaMulta }}</td>
                    <td>{{ Agenda.ValorMulta}}</td>
                    <td>{{Agenda.estado}}</td>

                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <tbody>
                <tr>
                    <td colspan="6">
                        <h1>No existen Multas registradas....</h1>
                    </td>
                </tr>
            </tbody>
            {%endif%}
        </table>
    </div>
</div>


{% endblock%}