<h1 style="font-size: 1.5em; line-height: 2em;">Mensaje de usuario.</h1>

<p> el Usuario : <strong>{{ Nombre }}</strong> quiere  una cita odontologica para la fecha <strong>{{ FechaCita }} y ala  hora {{ Horacita }}</strong> </p>

<dl>
        <dt>N° de Documento:</dt>
  <dd>{{ Documento }}</dd>

  <dt>Nombre:</dt>
  <dd>{{ Nombre }}</dd>

  <dt>Correo elecrónico:</dt>
  <dd>{{ Correo }}</dd>

  <dt>fecha:</dt>
  <dd>{{ FechaCita }}</dd>

    <dt>hora:</dt>
  <dd>{{ Horacita }}</dd>

    <dt>Celular:</dt>
  <dd>{{ Celular }}</dd>

</dl>
