
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'Muelitas:actualizarRegistro' %}" method="POST">

            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario {{datos.Nombre }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                            <label>Documento</label>
                            <input type="number" id="documento" class="form-control" name="Documento"
                                placeholder="documento identidad" required value="{{datos.Documento}}">
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="Nombre"
                            placeholder="Nombre" value="{{datos.Nombre}}" required>
                        </div>
                        <div class="form-group">
                            <label>contraseña</label>
                            <input type="password" class="form-control" name="Password"
                            placeholder="password" value="{{datos.Password}}" required>
                        </div>
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input type="email"  class="form-control" name="Correo"
                            placeholder="email" value="{{datos.Correo}}" required>
                        </div>       
                    

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Actualizar</button>
                <a href="{% url 'Muelitas:listarRegistro' %}" class="btn btn-dark">
                Cancelar</a>
            </div>

        </form>
    </div>
</div>
