{% extends 'Muelitas/basePrincipal.html' %}

  {% block contenedor %}
<br>
<br>
<br>
<br>

          <div class="container">
    <h1>Lista de Productos</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
                <th>Accion</th>
            </tr>
            </thead>
            {% if object_list %}
            {% for product in object_list%}
            <tbody>
            <tr>
                <td>{{ product.Nombre }}</td>
                <td>{{ product.Precio }}</td>
                <td>{{ product.cantidad }}</td>
                <td>{{ product.Proveedor }}</td>
                <td>
                    <a onclick=" return abrir_modal('{% url 'producto:detalleProducto' product.id %}')"
                       class="btn btn-warning" href="#">Mostrar</a>
                    <a onclick=" return abrir_modal('{% url 'producto:editarProducto' product.id %}')"
                       class="btn btn-primary" href="#">Editar</a>
                    <a onclick=" return abrir_modal('{% url 'producto:eliminarProducto' product.id %}')"
                       class="btn btn-danger" href="#">Eliminar</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <tbody>
            <tr>
                <td colspan="6"><h1>No existen productos registrados....</h1></td>
            </tr>
            </tbody>
            {%endif%}
        </table>
    </div>
</div>



<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
{% endblock %}