<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form"  method="post" class="form-inline">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalle de Producto
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <label>Nombre: {{object.Nombre}}</label>
                            <br>
                            <label>Precio: {{object.Precio}}</label>
                            <br>
                            <label>Cantidad: {{object.Cantidad}}</label>
                            <br>
                            <label>Fecha de Vencimiento: {{object.Proveedor}}</label>
                            <br>
                            {% if object.estado %}
                            <label>Estado: Activo</label>
                            {% else %}
                            <label>Estado: Inactivo</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'Insumos:listarProducto' %}" class="btn btn-darck"><span
                            class="fa fa-undo"></span> Cancelar</a>
                </div>
            </div>
        </form>
    </div>

</div>
