{% extends 'index.html' %}



{% block contenedor %}



    <!-- servicios -->
<section class="tratamientos py-2 text-xs-center">
        <div class="py-5 text-center bg-whithe" id="menu">
          <div class="container bg-whithe">
                <h1>Tratamientos<br><br><br></h1>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="vc_single_image-img " src="static/img/odontologia/basicos.png" alt="dental" title="dental" width="150" height="150">
                      <hr/>
                      <h2 class="text-center">Tratamientos basicos</h2>
                      <h5 align="justify"> <strong>1.</strong> el control preventivo de placa bacteriana, la aplicación de flúor y sellantes.<br>
                      <strong>2.</strong> El plan de beneficios también cubre procedimientos como calzas, tratamientos de conductos, cirugía oral y maxilofacial.<br>
                      <strong>3.</strong> Para afiliados que coticen con nosotros podemos , garantizar las prótesis dentales.
                      </h5>
                    </div>

                    <div class="col-lg-4">
                       <img class="vc_single_image-img " src="static/img/odontologia/blanqueamento.png" alt="dental" title="dental" width="150" height="150">
                       <hr/>
                       <h2 class="text-center">blanqueamento dental</h2>
                       <h5 align="justify">El blanqueamiento dental profesional reduce o elimina las manchas y la decoloración dental que nuestros dientes sufren con los años. Con una sola sesión en nuestra clínica dental, se consiguen unas mejoras notables, que pueden mejorarse todavía más siguiendo el blanqueamiento en casa supervisado por tu dentista de Propdental.
                       </h5>
                    </div>

                    <div class="col-lg-4">
                       <img class="vc_single_image-img " src="static/img/odontologia/carillas.png" alt="dental" title="dental" width="150" height="150">
                       <hr/>
                       <h2 class="text-center">carillas de porcelana</h2>
                        <h5 align="justify">Son unas finas cáscaras de porcelana que imitan la parte frontal del diente y que se pegan a la superficie delantera. As carillas permiten cambiar el color, el tamaño y la forma de los dientes para conseguir una sonrisa más estética y bonita. Dependiendo de su grosor, es necesario o no reducir una parte del esmalte para conseguir una perfecta fijación y un mejor resultado estético.
                        </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="tratamientos py-2 text-xs-center">
  <div class="py-5 text-center bg-whithe" id="menu">
    <div class="container bg-whithe">
          <div class="row">
              <div class="col-lg-4">
                  <img class="vc_single_image-img " src="static/img/odontologia/brackets.png" alt="dental" title="dental" width="150" height="150">
                <hr/>
                <h2 class="text-center">Ortodoncia convencional</h2>
                <h5 align="justify"> <strong>– Brackets metálicos: </strong>son fijos y si bien hay opciones más estéticas, son los más económicos y se logra excelentes resultados con ellos.

                  <strong>– Brackets de porcelana: </strong>el método de colocación es el  mismo que con el anterior, pero son más recomendables por la estética que brindan.
                </h5>
              </div>

              <div class="col-lg-4">
                 <img class="vc_single_image-img " src="static/img/odontologia/blanqueamento.png" alt="dental" title="dental" width="150" height="150">
                 <hr/>
                 <h2 class="text-center">implantes dentales</h2>
                 <h5 align="justify">Un implante dental por lo general, es una pieza de titanio que se inserta en el hueso maxilar, es decir, debajo de la encía. Su función principal es simular o sustituir la raíz de un diente que ha sufrido algún daño y que posteriormente fue extraído.

                 Dentro de sus ventajas podemos decir que la colocación de implantes no es dolorosa como suponen muchos pacientes, porque utilizamos anestesia y una medicación previa para que el pos operatorio sea placentero y benigno (sano).
                 </h5>
              </div>

              <div class="col-lg-4">
                 <img class="vc_single_image-img " src="static/img/odontologia/endodoncia.png" alt="dental" title="dental" width="150" height="150">
                 <hr/>
                 <h2 class="text-center">endodoncia</h2>
                  <h5 align="justify">Se recomienda un tratamiento de conductos si usted presenta una infección que afecta el nervio en la raíz de un diente y que puede ser el resultado de ruptura, caries o lesión en el mismo. Este tipo de tratamiento puede salvar la pieza dentaria, de lo contrario debería ser extraída debido al daño sufrido.
                  </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>


    <center>
      <div class="carousel-inner" style=" background-image:  url(../../recursos/assets/odontologia/12222.jpg);  background-size: 100%;">


        <div class="carousel-item active">
          <img src="static/img/odontologia/2.jpg" width="1000" height="350">
        </div>
        <div class="carousel-item">
          <img src="static/img/odontologia/3.jpg" width="1000" height="350">
        </div>
         <div class="carousel-item">
          <img src="static/img/odontologia/4.png" width="1000" height="350">
        </div>
         <div class="carousel-item">
          <img src="static/img/odontologia/5.jpg" width="1000" height="350">
        </div>
      </div>
    </center>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="py-5 photo-overlay section-parallax" id="book" style="	background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(255,255,255));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-6 mx-auto p-3 animate-in-down">
            <form class="p-4 bg-light">
              <h4 class="mb-4 text-center">Reserva tu cita</h4>

              <div class="form-group"> <label>Nombre</label>
                <input class="form-control" placeholder="Ingrese su nombre"> </div>
                <div class="form-group"> <label>Celular</label>
                <input class="form-control" placeholder=""> </div>
              <div class="form-group"> <label>Hora</label>
                <select class="form-control">
                  <option>mañana</option>
                  <option>tarde</option>
                  <option>noche</option>
                </select>
              </div>
              <div class="form-group"><label>Fecha</label><input type="date" class="form-control" placeholder="13"></div>

              <button type="submit" class="btn mt-4 btn-block p-2 btn-primary"><b>Reserva tu cita</b></button>

            </form>
          </div>
        </div>
      </div>
    </div>


         <!-- Footer -->
<div class="text-center bg-dark pt-5 text-light">

                    <div class="container">
                      <div class="row">

                        <div class="col-lg-4">
                          <img class="mr-3" src="static/img/logos/agenda.png" alt="generic placeholder image"  width="70" height="70">
                        <hr/>
                            <h4 class="text-center">contactos</h4>
                            <a href="tel:+246 - 542 550 5462 " class="text-light" >+57 - 322 550 5462</a>
                            <p>citas<a href="mailto:"></a>@Asdental.com</p>
                          </div>


                          <div class="col-lg-4">
                              <img class="mr-3" src="static/img/logos/horarios.png" alt="generic placeholder image" width="50" height="50">
                          <hr/>
                        <div class="media-body">
                        <h4 class="text-center">Horario de atencion</h4>
                      <p>08:00 - 12:00 &amp; 13:00 - 19:00<br>lunes / viernes&nbsp<br>08:00 - 11:00 &amp; 13:00 - 16:00&nbsp;<br>fines de semanas&nbsp;</p>
                    </div>
                    <br>
                    <br>
                    <div>
                    <img src="static/img/logos/whatsapp.png" width="50" height="50">
                    <img src="static/img/logos/twitter.png" width="50" height="50">
                   <img src="static/img/logos/instagram.png" width="40" height="40">
                   <img src="static/img/logos/facebook.png" width="50" height="50">
                  </div>
                  </div>

                 <div class="col-lg-4">
               <div class="media-body">
            <h4 class="mt-0">Ubicacion</h4>
          </div>
          <hr/>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7933.3123629185575!2d-75.59585061463152!3d6.17675998628388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46824e0bb0bc81%3A0xdff8f93dead8aac7!2s%C3%89xito+Envigado+Centro!5e0!3m2!1ses-419!2sco!4v1557429482733!5m2!1ses-419!2sco" width="200" height="200"  style="border:0" allowfullscreen></iframe>

      </div>
   </div>
</div>


    <form class="bg-dark">
      <div class="container">
        <div class="row ">
          <div class="col-md-12 mt-3 ">
          <p class="text-center text-light">© Copyright 2018&nbsp; - All rights reserved. </p>
      </div>
      </div>
   </div>
 </form>
{% endblock %}

